<!-- 
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>

#### start the urg nodes  ##############################

<node pkg   ="urg_node"
      name  ="bottom_laser"
      type  ="urg_node"
      output="screen">   
  	  <param name="ip_address"   value="192.168.1.11" />
	  <remap from="/scan" to="/scan/bottom"/>
</node>

<node pkg   ="urg_node"
      name  ="top_laser"
      type  ="urg_node"
      output="screen">   
  	  <param name="ip_address"   value="192.168.0.11" />
	  <remap from="/scan" to="/scan/top"/>
</node>

<include file="$(find khex_com)/launch/khex_com.launch" />
<include file="$(find vicon_odom)/launch/test.launch" />

<node pkg   ="bluefox_node"
      name  ="bluefox0"
      type  ="bluefox_node"
      output="screen">
                         
  	  <param name="camera_idx"   value="0" />
	  <param name="camera_serial" value="29900212" type="str"/>
	  <param name="camera_name"  value="cam2" />
	  <param name="exposure_us"  value="20000" />
	  <param name="hdr_mode"     value="1" />
	  <param name="gain_dB"		 value="0.1" />
	  <param name="color_mode"   value="false" />
	  <param name="fps"          value="40.0" />
	  <param name="width"        value="640" />
	  <param name="height"       value="480" />
	
</node>

<node pkg   ="bluefox_node"
      name  ="bluefox1"
      type  ="bluefox_node"
      output="screen">
                         
  	  <param name="camera_idx"   value="1" />
	  <param name="camera_serial" value="29900227" type="str"/>
	  <param name="camera_name"  value="cam2" />
	  <param name="exposure_us"  value="20000" />
	  <param name="hdr_mode"     value="1" />
	  <param name="gain_dB"		 value="0.1" />
	  <param name="color_mode"   value="false" />
	  <param name="fps"          value="40.0" />
	  <param name="width"        value="640" />
	  <param name="height"       value="480" />
	
</node>

<node pkg   ="image_view"
	  name  ="image_view0"
	  type  ="image_view"
	  output="screen">

	  <remap from="/image" to="/cam0/image"/>
</node>

<node pkg   ="image_view"
	  name  ="image_view1"
	  type  ="image_view"
	  output="screen">

	  <remap from="/image" to="/cam1/image"/>
</node>


<node pkg = "rosbag"
  name = "rosbag"
  type = "record"                                                                                                                                                    
  output = "screen"
  args="/khex_com/cmd /khex_com/status /khex_com/rc /khex_com/imu /scan/bottom /scan/top vicon/InsKHex_odom /cam2/image/compressed ">
</node>



</launch>















