<!-- 
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>

#### start the urg nodes  ##############################

<node pkg   ="urg_node"
      name  ="bottom_laser"
      type  ="urg_node"
      output="screen">   
  	  <param name="ip_address"   value="192.168.1.11" />
	  <remap from="/scan" to="/scan/bottom"/>
</node>

<node pkg   ="urg_node"
      name  ="top_laser"
      type  ="urg_node"
      output="screen">   
  	  <param name="ip_address"   value="192.168.0.11" />
	  <remap from="/scan" to="/scan/top"/>
</node>

<include file="$(find khex_com)/launch/khex_com.launch" />
<include file="$(find vicon_odom)/launch/test.launch" />
<include file="$(find bluefox_node)/launch/run_right_cam.launch" />

<!--

<node pkg   ="image_view"
	  name  ="image_view0"
	  type  ="image_view"
	  output="screen">

	  <remap from="/image" to="/cam0/image"/>
</node>

<node pkg   ="image_view"
	  name  ="image_view1"
	  type  ="image_view"
	  output="screen">

	  <remap from="/image" to="/cam1/image"/>
</node>
-->

<node pkg = "rosbag"
  name = "rosbag"
  type = "record"                                                                                                                                                    
  output = "screen"
  args="/khex_com/cmd /khex_com/status /khex_com/rc /khex_com/imu /scan/bottom /scan/top vicon/InsKHex_odom /cam0/image ">
</node>



</launch>















