<!-- 

-->

<launch>

#### start the onboard controller IMU ##############################

<node pkg   ="bluefox_node"
      name  ="bluefox_mono"
      type  ="bluefox_node"
      output="screen">
                         
  	  <param name="debug_mode"      value="true"       />
  	  <param name="camera_idx"      value="0"       />
  	  <param name="camera_serial"   value="29900145" type="str"/>
	  <param name="camera_name"     value="camera"  />
	  <param name="exposure_us"     value="10000"  />
	  <param name="hdr_mode"        value="true"   />
	  <param name="gain_dB"		    value="0.1"   />
	  <param name="color_mode"      value="true"    />
	  <param name="fps"             value="60.0"    />
	  <param name="width"           value="640"     />
	  <param name="height"          value="480"     />
	  <param name="print_devices"   value="true"    />
	  <param name="print_stats"     value="false"    />
	  <param name="flip_image"      value="false"   />
	  <param name="aoi_x"           value="-320"   />
	  <param name="aoi_y"           value="-240"   />
	  <param name="aoi_width"       value="-640"   />
	  <param name="aoi_height"      value="-480"   />
	  <param name="binning_h"       value="0"   />
	  <param name="binning_v"       value="0"   />
	  <param name="binning_type"    value="0"   />
	  <param name="calib_file"      value="$(find calib_data)/camera/bluefox_29900145.yaml"/>
</node>

<node pkg   ="image_view"
	  name  ="image_view_raw"
	  type  ="image_view"
	  output="screen">

	  <remap from="/image" to="/camera/image_raw"/>
</node>

<node pkg   ="image_view"
	  name  ="image_view_of_field"
	  type  ="image_view"
	  output="screen">

	  <remap from="/image" to="/of_estimator_node/of_image"/>
</node>

<node pkg   ="image_proc"
	  name  ="image_proc"
	  type  ="image_proc"
	  ns    ="/camera"
	  output="screen">
</node>

<node pkg   ="of_estimator"
      name  ="of_estimator_node"
      type  ="of_estimator_node"
      output="screen">
                         
  	  <param name="debug_mode"    value="false" />
	  <param name="grid_cols"     value="-10"   />
	  <param name="grid_rows"     value="-8"    />
	  <param name="pyra_levels"   value="3"     />
	  <param name="use_init_flow" value="false" />
	  <remap from="~image_raw" to="/camera/image_rect"/>
</node>


</launch>



